@charset "utf-8";

  @import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');



  @import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursiva;
    --fonte3: 'Sriracha', cursiva;

}

 * {
    margin: 0px;
    padding: 0px;
   
}
html, body {
    min-height: 100vh;
    background-color: antiquewhite;
    font-family: var(--fonte1);
}
header {
    background-color: rgb(3, 3, 3);
    color: white;
    text-align: center;
}
header > h1 {
    padding: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 10vw;
}
header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
section {
    padding: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte2);
    font-size: 3.5vw;
}
section > p {
    padding-bottom: 1em;
}
section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgba(19, 18, 18, 0.411);
    color: white;
    box-shadow: inset 6px 6px 13 px 0px black;
    background-attachment: fixed;
}
section.imagem > p {
   display: inline-block;
    background-color: black;
}
section#img01 {
    background-image: url(pacote-d012/imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
}
section#img02 {
    background-image: url(pacote-d012/imagens/background002.jpg);
    background-position:right center;
}
header a:hover,footer a:hover {
    text-decoration: underline;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}